$primary-font: 'Lato', sans-serif;

$primary-font-size: 1em;
$small-font-size: 1.125em;
$medium-font-size: 1.25em;
$large-font-size: 1.75em;

$primary-font-color: #777;
$primary-accent-color: #3AC5CA;