// Font family
$primary-font: 'Lato', sans-serif;

// Font sizes
$primary-font-size: 1em;
$medium-font-size: 1.25em;
$large-font-size: 1.75em;

// Colors
$font-color: #5e5e5e;
$primary-accent-color: #3AC5CA;